* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #e2f4f0;
  padding-bottom: 2rem;
}
nav {
  background-color: #ffffff;
  padding: 5px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  border-radius: 19px;
  margin-top: 10px;
}
.logo {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 40px;
}
.logo p {
  font-family: system-ui;
  font-size: 2.1rem;
}
.logo p b {
  font-weight: 800;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}
ul li {
  cursor: pointer;
}

.count {
  font-family: system-ui;
  font-weight: 600;
  font-size: 1.1rem;
}
.counter {
  background-color: #f4f7ff;
  display: flex;
  gap: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 28px;
}

.multiple-color {
  background-color: #f4f7ff;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.47rem 1rem;
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 250px;
  width: 90%;
  grid-gap: 1rem;
  margin: auto;
  background-color: #fff;
  padding: 1rem;
  margin-top: 2rem;
}
.top-cards {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-gap: 2rem;
  margin-top: 10px;
}

.assigned {
  background-color: #f4f7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  border-radius: 8px;
}
.assigned:nth-of-type(2) {
  background-color: #3752fd;
  padding: 0 2rem;
}
.assigned img {
  width: 20%;
}

.assigned div p {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: system-ui;
}
.assigned div h4 {
  font-size: 1.4rem;
  font-weight: 800;
  font-family: system-ui;
}

/* constainer right  */
.right {
  padding: 1.3rem;
  background-color: #ffffff;
  margin-top: 10px;
  height: 80vh;
}
.history {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.history p {
  font-family: system-ui;
  font-weight: 500;
  font-size: 1.2rem;
}

.clear-btn {
  border: none;
  outline: none;
  background-color: #3752fd;
  color: #fff;
  font-family: system-ui;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 1.4rem;
  border-radius: 39px;
  width: 150px;
  display: block;
  margin: 18px auto;
}
.history-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}
.history-box {
  font-family: system-ui;
  background-color: #f4f7ff;
  padding: 10px;
}

/* cards container  */
.infor-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.88rem;
  margin-top: 1rem;
  background-color: #fff;
}
.card {
  background-color: #f4f7ff;
  padding: 1rem;
  border-radius: 8px;
}

.card p:nth-of-type(1) {
  width: fit-content;
  padding: 4px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  background-color: #fff;
  font-family: system-ui;
  font-size: 14px;
  margin: 5px 0;
}

.card h3 {
  font-weight: 500;
  font-family: system-ui;
  font-size: 1.3rem;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  height: 3.4rem;
  line-height: 22px;
  font-family: system-ui;
  font-size: 1rem;
  background-color: #fff;
  margin: 5px 0;
  padding: 0.55rem;
  padding-bottom: 1rem;
}

.dedline-bottom {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  gap: 7px;
  align-items: center;
}

.dedline-bottom h4 {
  margin-top: 10px;
}
.dedline p:nth-of-type(1) {
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 0;
  font-size: 1rem;
  opacity: 0.5;
}
.dedline h4 {
  font-family: system-ui;
  font-weight: 600;
  font-size: 1rem;
}
.dedline-bottom button {
  border: none;
  outline: none;
  background-color: #3752fd;
  padding: 10px 1.1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-family: system-ui;
  font-weight: 600;
  cursor: pointer;
}

/* js code */
.dedline-bottom button.disable-btn {
  cursor: not-allowed;
  opacity: 0.5;
}

.back-todesk {
  background-color: #3752fd;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 30px;
  font-family: system-ui;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.1rem;
}
